* {
    box-sizing: border-box;
  }
.loginPage{
    align-content: center;
    padding: 25px;
    border: 5in;
    motion-rotation: auto;
}
.pageLabel{
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.pageSubmit{
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  .inputFields{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
 .message{
     padding-top: 10pc;
 }